html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
}

.img-responsive{
    margin: auto;
    width: 50%;
}

.container{
    background-color: #355a9d;
    color: white;
    font-size: 32px;
}

.container .page-header .header {
    font-family: Arial Black; 
    margin: 0 auto;
}

