/*********==========Navs*/
.navbar-user-top{
    background-color: #33414E;
    height: 55px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 7;
}
.navbar-user-top > ul{
    height: 55px;
    padding: 0 15px;
    margin: 0;
}
.navbar-user-top > ul > li{
    display: inline-block;
    float: right;
    color: rgba(255,255,255,.4);
    height: 55px;
    margin: 0 12px;
    text-align: center;
    cursor: pointer;
    line-height: 55px;
}
.navbar-user-top > ul > li:hover{
  color: #5686dc;  
}
.navbar-user-top > ul > li:hover span.badge{
    background-color: #355a9d;
}
.navbar-user-top > ul > li > i{
    font-size: 27px;
    line-height: 55px;
}
.navbar-user-top > ul > figure > img{
    width: 45px;
    float: right;
    height: 45px;
    border: 2px solid #728890;
    margin-top: 5px;
}
.navbar-lateral{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.container-menu-movile{
    background-color: #2D3945;
    height: 100% !important;
}
.logo{
    height: 55px;
    line-height: 55px;
    background-color: #355a9d;
    color: #fff;
    text-align: center;
    font-size: 21px;
    overflow: hidden;
}
.content-page-container{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 80%;
    background-color: #fff;
}
.nav-lateral-list-menu  ul  li{
    margin: 0;
    padding: 0;
    display: block;
}
.nav-lateral-list-menu ul li a,
.nav-lateral-list-menu ul li div{
    width: 100%;
    min-height: 45px;
    line-height: 45px;
    display: block;
    padding: 0;
    padding-left: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(230,233,238,.1);
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}
.nav-lateral-list-menu i{
    font-size: 18px;
    line-height: 45px;
}

.nav-lateral-list-menu i :hover{
    background-color: #2D3945;
}

.nav-lateral-list-menu ul li a:hover{
    background-color: #17469a;
}

.dropdown-menu-buttonhover{
    background-color: #17469a;
}

.nav-lateral-list-menu ul li a:active,
.nav-lateral-list-menu ul li a:focus{
    outline: none;
}
.nav-lateral-list-menu ul li:first-child{
   border-top: 1px solid rgba(230,233,238,.1); 
}
.nav-lateral-list-menu ul li a span{
    transition: .3s all ease-in-out;
}
.nav-lateral-list-menu ul li a:hover span,
.mobile-menu-container ul li a:hover span{
    background-color: #333;
    color: #fff;
}
.nav-lateral-list-menu ul li ul{
    background-color: rgb(43,61,81);
    display: none;
}
.nav-lateral-list-menu ul li div{
    cursor: pointer;
}
.nav-lateral-list-menu ul li ul li a{
    padding-left: 30px;
}

.fa-angle-down {
    margin-left: 20%;  
}

/*  Footer  */
/*Pie de pagina================*/
.footer{
    background-color: #2d3945;
    height: auto;
    color: #fff;
    padding-top: 20px;
    margin-top: 70px;
    margin:0px;
}

#mini-menu{
    display: none;
}

#max-menu{
    display: unset;
}



@media (min-width: 768px){
    #mini-menu{
        display: unset;
    }

    #max-menu{
        display: none;
    }
}
